.navbar-brand{
    margin: 0 auto;
    font-size: 2rem;
    /* font-family: 'Luckiest Guy', cursive; */
}
*{
    font-family: 'Luckiest Guy', cursive;
}
button, input{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: url(https://images.all-free-download.com/images/graphiclarge/weather_background_colorful_rainbow_stylized_cloud_repeating_style_6829836.jpg);
}

aside{
    background-color: rgba(255, 255, 255, 0.836);
}
/* h5{
    font-family: 'Luckiest Guy', cursive;
} */

.card{
    background-color: rgba(255, 255, 255, 0.911);
    text-align: center;
}

.jumbotron{
    background-color: transparent;
}
/* h1{
    font-family: 'Luckiest Guy', cursive;
} */

#upcoming-display{
    display: flex;
    justify-content: space-between;
}

.card2{
    background-color:rgba(255, 255, 255, 0.966);
    text-align: center;
}