.navbar-brand{
    margin: 0 auto;
    font-size: 2rem;
}

.card{
    background-color: rgb(219, 222, 224);
    text-align: center;
}

.jumbotron{
    background-color: transparent;
}

#upcoming-display{
    display: flex;
    justify-content: space-between;
}

.card2{
    background-color: rgb(186, 149, 211);
    text-align: center;
}